body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif; /* materialUIのためにRobotoの優先度を上げている*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #f7f0e1 !important; /* 背景色ここでしか変えられんかった... */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.pagination {
  /* 一旦必要なのでここに記述 */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px;
}
